## Mini-Project  
### Part 1: Data Wrangling

Study studentsâ€™ adaptability to online learning.
+ Create frequency tables
+ Encode all categorical variables
    + Scale variables
+ Deal with missing data

In [6]:
# Import data


import pandas as pd

data = pd.read_csv(r"C:\Users\roryq\Downloads\online_adapt.csv")

There is no missing value in the dataset.

In [7]:
data.isna().sum()

Gender                 0
Age                    0
Education Level        0
Institution Type       0
IT Student             0
Location               0
Load-shedding          0
Financial Condition    0
Internet Type          0
Network Type           0
Class Duration         0
Self Lms               0
Device                 0
Adaptivity Level       0
dtype: int64

### Understand the data
#### Display the frequency table for the response variable, `Adaptivity Level`.

In [115]:
# Create function that counts the number of argument (x)
# Group data frame by adaptability level, then apply the count function we created
# Create new data frame by extracting single column of df
    # Transpose it to look prettier
    # Hide index to avoid the column name and only view adaptability level
    
def ct(x):
    return x.count()
t= pd.DataFrame(data.groupby('Adaptivity Level').apply(ct))
pd.DataFrame(t["Age"]).T.style.hide(axis='index')

#### Display the frequency table for `Education Level`.

In [116]:
# Create function that counts the number of argument (x)
# Group data frame by adaptability level, then apply the count function we created
# Create new data frame by extracting single column of df
    # Transpose it to look prettier
    # Hide index to avoid the column name and only view adaptability level
    
def ct(x):
    return x.count()
t= pd.DataFrame(data.groupby('Education Level').apply(ct))
pd.DataFrame(t["Age"]).T.style.hide(axis='index')

#### Write a function to show the unique values of each variable in the dataset.  Then apply this function on the dataset.

In [10]:
# Write a function to show the unique values of each variable 
# in the dataset.  
# Then apply this function on the dataset.

df= data
for col in df:
    print(df[col].unique())

['Boy' 'Girl']
['21-25' '16-20' '11-15' '26-30' '6-10' '1-5']
['University' 'College' 'School']
['Non Government' 'Government']
['No' 'Yes']
['Yes' 'No']
['Low' 'High']
['Mid' 'Poor' 'Rich']
['Wifi' 'Mobile Data']
['4G' '3G' '2G']
['3-6' '1-3' '0']
['No' 'Yes']
['Tab' 'Mobile' 'Computer']
['Moderate' 'Low' 'High']

### Encode Categorical Variables

#### Encode `Age` to integers, 1, 2, 3, 4, 5, 6.

In [11]:
# Find unique age values to encode

data["Age"].unique()

array(['21-25', '16-20', '11-15', '26-30', '6-10', '1-5'], dtype=object)

In [12]:
# Use scale to assign these age values to an integer
# 1 to the youngest group
# View data with new encoded scale

scale = {'1-5': 1,
         '6-10':2,
         '11-15':3,
         '16-20':4,
         '21-25':5,
         '26-30':6,}
data['Age'].replace(scale)

0       5
1       5
2       4
3       3
4       4
       ..
1200    4
1201    4
1202    3
1203    4
1204    3
Name: Age, Length: 1205, dtype: int64

#### Encode `Network Type` to integers, 2, 3, 4.

In [13]:
# Find unique network values to encode
data["Network Type"].unique()

array(['4G', '3G', '2G'], dtype=object)

In [117]:
# Use scale to assign these Network type values to an integer
# 1 to the lowest G


scale1 = {'2G': 2,
         '3G':3,
         '4G':4,}

#### Encode `Class Duration` to integers, 0, 1, 2.

In [15]:
# Find unique class durations to encode
data["Class Duration"].unique()

array(['3-6', '1-3', '0'], dtype=object)

In [34]:
# Use scale to assign these class durations type values to an integer
# 1 to the shortest duration



scale2 = {'0': 0,
         '1-3':1,
         '3-6':2,}

#### Replace `Age`, `Network Type`, `Class Duration` by their corresponding encoded numeric variables you defined in 2.2 to 2.4.

In [33]:
# save the columns of the data frame as the new encoded columns for each variable


data['Class Duration']=data['Class Duration'].replace(scale2)
data['Network Type'] = data['Network Type'].replace(scale1)
data.Age= data['Age'].replace(scale)

#### One-hot encode the rest of the variables except for the response variable, `Adaptivity Level`.

* Name the data frame `data1`. Note that `data1` should have all the encoded features (without the response variable).

In [32]:
import numpy as np
from sklearn.preprocessing import LabelBinarizer 


# Create dummy variables for other categorical variables
# View data saved as data1

data1 = pd.get_dummies(data, columns = ['Education Level', 
                                               'Gender', 'Location', 'Institution Type', 
                                               'IT Student', 'Load-shedding', 'Financial Condition'
                                               , 'Internet Type', 'Device', 'Self Lms' ], dtype=int)
data1= data1.drop('Adaptivity Level', axis=1)

### Scale Numeric Variables

#### Use `MinMaxScaler` to rescale all variables.
The scaled dataset will be called `data2`.

In [37]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Create for loop to apply the MinMaxScaler to all columns in df

datac= data1.copy()
for col in datac:
    scaler = MinMaxScaler()
    datac[[col]]= scaler.fit_transform(datac[[col]])

# Save as data2     
data2=datac

####  Verify that the min is 0 and and the max is 1 for each column. Requirement: Use a `for` loop.

In [50]:
# Check to see if min is 0 and max is 1 for each column in the data frame (True)
# If not print each column and its min and max

for col in data2:
    if round(data2[col].min())==0 and  round(data2[col].max())== 1:
        found=True
if found:
    print("All Min and Max are Correct")
else:
    for col in data2:
     print( col, 'Min is', round(data2[col].min()),'Max is', round(data2[col].max()))

All Min and Max are Correct

#### Standardizing all features in `data1`. Name the new data frame `data3`.

In [53]:
from sklearn.preprocessing import StandardScaler


# Create for loop to apply the StandardScaler to all columns in df

data3 = data2.copy()


for col in data3:
    scaler2 = StandardScaler()
    data3[[col]]= scaler2.fit_transform(data3[[col]])

####  Verify the mean is 0 and the standard deviation is 1 for each column.

In [55]:

# Check to see if mean is 0 and std is 1 for each column in the data frame (True)
# If not print each column and its mean and std

for col in data3:
    if round(data3[col].mean())==0 and  round(data3[col].std())== 1:
        found=True
if found:
    print("All Mean and Standard deviation are Correct")
else:
    for col in data2:
     print( col, 'Mean is', round(data3[col].mean()),'Std is', round(data3[col].std()))

All Mean and Standard deviation are Correct

####  Use a robust scaler to rescale all the features in `data1`. Name the new data frame `data4`.

In [57]:
from sklearn.preprocessing import RobustScaler

# Create for loop to apply the StandardScaler to all columns in df

data4 = data1.copy()


for col in data4:
    scaler3 = RobustScaler()
    data4[[col]]= scaler3.fit_transform(data4[[col]])

#### Normalize all features in `data1`. Name the new data frame `data5`.

In [95]:
from sklearn.preprocessing import Normalizer

data5 = data1.copy()

for col in data5:
    scaler4 = Normalizer()
    data5[[col]]= scaler4.fit_transform(data5[[col]])

#### Calculate and save the norm of each observation. Then, calculate the mean and the variance of those norms in order to verify that the norms are all equal to 1.
Hints:
* You need to convert `data5` to a data frame using `pd.DataFrame`.
* You may use the `apply` function to calculate the norms.
* By default, `apply` loops across columns of a data frame. So, to use it correctly in this data frame, you need to transpose `data5` using the dot function `.T` and save the transposed data frame as `data6`.

In [99]:
# Transpose data set to loop across with .apply()
# Calculate norm 
# Use for loop to check mean and std of each column is 1,0, print correct if so


data6= data5.T
data6.apply(np.linalg.norm)

for col in data6:
    if round(data6[col].mean())==0 and  round(data6[col].std())== 1:
        found=True
if found:
    print("All Mean and Standard deviation are Correct")
else:
    for col in data6:
     print( col, 'Mean is', round(data6[col].mean()),'Std is', round(data6[col].std()))

All Mean and Standard deviation are Correct

### Imputing missing values
There is no missing value in the dataset. To practice imputing missing values, we will manually change a value to `np.nan`. To make it very obvious, we will do it to the first observation.

In [96]:
data['Gender'][0]

'Boy'

In [118]:
# Create missing value

value_true = data.iloc[0,0]
data.iloc[0,0] = np.nan

In [98]:
# View to check it is now missing

data['Gender'][0]

nan

#### Use the most frequent value to impute this missing value.
* Verify that it uses the most frequent value, `School`.
* Compare it with the true value. Are they the same?

In [100]:
import numpy as np
from sklearn.impute import SimpleImputer

# Use most frequent value strategy to fill missing value in SimpleImputer
# Use imputer to transform the selected data
# View Imputation

imputer= SimpleImputer(missing_values= np.nan, strategy= 'most_frequent')
data.Gender=imputer.fit_transform(data[['Gender']])
data['Gender'][0]

'Boy'

+ The value of the imputer based on most frequent is Boy, which is the same as in the original data frame, before replacing it with nan

In [119]:
# Check mode for the column and make sure it matches imuted data
data['Gender'].mode()

0    Boy
Name: Gender, dtype: object